<div class="container" id="containmat" *ngFor="let user of usersdetail">

    <div *ngIf="user.id==name">
        <h3 id="text">{{user.id}}</h3>
        <div class="content" *ngIf="user.isDeleted==true">
            <p class="active">Active</p>
            <span>Login Id:</span>
            <span>{{user.id}}</span>
            <br>
            <span>First Name:</span>
            <span>{{user.firstName}}</span>
            <br>
            <span>Last Name:</span>
            <span>{{user.lastname}}</span>
            <br>
            <span>First Name:</span>
            <span>{{user.age}}</span>
        </div>
        <div class="contentdelete" *ngIf="user.isDeleted==false">
            <p class="delete">Deleted</p>
            <span>Login Id:</span>
            <span>{{user.id}}</span>
            <br>
            <span>First Name:</span>
            <span>{{user.firstName}}</span>
            <br>
            <span>Last Name:</span>
            <span>{{user.lastname}}</span>
            <br>
            <span>First Name:</span>
            <span>{{user.age}}</span>
        </div>
    </div>
</div>