.container {
  margin-left: 60em;
  margin-top: -60em;
  
}
#containmat {
  width: 20em;
  height: 60em;
  border: 1px solid gray;
  
}
.active {
  color: greenyellow;
}
.delete {
  color: red;
}
td {
  padding-right: 20px;
  padding-bottom: 20px;
}
