@import "../../common/colors.scss";

.movie-list,
.show-list {
  
  margin: 20px 0px;
  h2 {
    color: red;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 400;
  }
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  grid-gap: 15px;
}

.show-cont{
  border: 1px solid black;
  margin-top:1rem;
  font-size: 25px;
  display: flex;
  color: rgb(112, 12, 12);
  margin-bottom: 2rem;
  justify-content: baseline;
}

.show-cont h2{
  color: red;
}

.moviecount p{
  border:1px solid black;
  color: white;
  background-color: rgb(56,56,56);
  padding: 8px 5px;
  letter-spacing: 3px;
  padding-left: 1.5%;
  font-weight: 500;
  .count{
      margin-left: 1.5%;
      font-weight: 200;
      font-size: 15px;
  }
}